---
import SocialIcon from "./SocialIcon.astro"
---

<div class="">
    <!-- follw us links -->
    <div class="">
        <SocialIcon/>

    </div>
    <!-- our mission -->

    <!-- mailing information  -->
</div>