---
import '../styles/global.css';

const { href, id, content } = Astro.props
---
<div class="block group">
	<div>{content}</div>
	<!-- <div class="opacity-0 flex flex-col absolute bg-amber-400 py-2 group-hover:opacity-100">
		<a href="" class="shadow-shadow">the team</a>
		<a href="" class="shadow-shadow">the faculty</a>
		<a href="" class="shadow-shadow">the directors</a>
	</div> -->
</div>