---

import '../styles/global.css';

---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<a href="#">
    <span>
        <div class="w-5 h-5 bg-black rounded-full"></div>
        <i class="fa fa-instagram fa-stack-1x fa-inverse icon text-[#444343]"></i>
        
    </span>
</a>