---
import Navbar from "../components/Navbar.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>Document</title>
</head>
<body class="p-2">
	<header class="w-screen h-12 flex justify-center">
		<Navbar /> 
	</header>
</body>
</html>